@import "vars";

.footer {
    color: white;
    background-color: #1F1F1F;

    &__blocks {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        text-decoration: none;
        justify-content: space-between;
        padding-top: 27px;
        padding-bottom: 50px;
        border-bottom:  2px solid #353535;
        
    }

    &__blocks-items {
        width: 257px;
        padding-top: 27px;
        padding-bottom: 0;
        

        time{
            font-family: Roboto Slab;
            
            font-weight: normal;
            font-size: 12px;
            line-height: 12px;
            color: #CACACA;
            
           }
        

        p {
            font-family: $third-font;
          
          font-weight: normal;
          font-size: 14px;
          line-height: 24px;
          color: #CACACA;
        }
    }

    &__blocks-header {
        font-family: $secondary-font;
        
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        color: #6C6C6C;
        padding-bottom: 20px;
    }

    &__blocks-contacts {
        font-family: $third-font;
        
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: #FFFFFF;
        padding-top: 32px;
        padding-left: 22px; 
        
        
    }


      
      
    &__blocks-adress {
            list-style: url(../img2/iconmonstr-location.png);
          }

    &__blocks-phone {
        list-style: url(../img2/telephone.png) ;
      }

      &__blocks-email {
        list-style: url(../img2/envelope.png);
      } 
    
      
     

    /*&__blocks-adress::before {
        content: url(../img2/iconmonstr-location.png);
        margin-right: 5px;
    }

    &__blocks-phone::before {
        content: url(../img2/telephone.png);
        margin-right: 5px;
      }

    &__blocks-email::before {
        content: url(../img2/envelope.png);
        margin-right: 5px;
    }*/

    &__blocks-second {
        padding-left: 15px;
        font-family: $third-font;
        
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: #CACACA;
        list-style: url(../img2/iconmonstr-twitter.png);

        li {
            padding-bottom: 20px;
            
          }
      }

      &__blocks-third {
        li {
            list-style: none;
            padding-left: 3px;
            padding-bottom: 20px;
          }
      }

      &__block-four {
        padding-bottom: 20px;
      }

      &__copyright{
        font-family: $third-font;
        
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #CACACA;
        padding-bottom: 45px;
        padding-top: 45px;
       }
}