$main-font: 'Roboto Slab', sans-serif;
$secondary-font: 'Roboto Condensed', sans-serif;
$third-font: Roboto, sans-serif;
$header-bg:#E6E6E6;
$logo-cl: #4E4E4E;
$header-link-cl: #4E4E4E;
$backgr-img: url(../img2/background.png);
