@import "vars";

.works {
    &__title {
        font-family: $secondary-font;
        
        font-weight: bold;
        font-size: 18px;
        line-height: 35px;
        text-align: center;
        text-transform: uppercase;
        color: #4E4E4E;
        text-align: left;
        padding-top: 50px;
        padding-bottom: 2px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        text-decoration: none;
        padding-top: 22px;
        padding-bottom: 33px;
        justify-content: center;
    }

    &__item {
        width: 353px;
        padding-bottom: 30px;

        a {
            text-decoration: none;
        }

        span {
            font-family: $main-font;
            
            font-weight: bold;
            font-size: 13px;
            line-height: 20px;
            text-transform: capitalize;
            color: #ADADAD;
          
           }
    }

    &__item + &__item {
        margin-left: 31px;
      }

    &__item-title {
        font-family: $main-font;
        
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        text-transform: capitalize;
        text-decoration: none;
        color: #4E4E4E;
        padding-top: 26px;
        padding-bottom: 5px;
    }

    &__item-text {
        font-family: $third-font;
        
        font-weight: normal;
        font-size: 14px;
        line-height: 28px;
        color: #5C5C5C;
        padding-top: 13px;
    }

}
